Repository PennyLaneAI/catalyst, pull requests merged in 2023-12, with the labels that each got.

#393 Raising build errors if cargo is required and not found
  runtime/CMakeLists.txt
Labels: runtime

#397 [MLIR] Guarantee quantum dialect ops are eliminated when extracting classical code from QNodes
  doc/changelog.md
  mlir/include/Quantum/IR/QuantumInterfaces.td
  mlir/include/Quantum/IR/QuantumOps.td
  mlir/include/Quantum/Utils/RemoveQuantum.h
  mlir/lib/Gradient/Transforms/ConversionPatterns.cpp
  mlir/lib/Gradient/Transforms/GradMethods/ClassicalJacobian.cpp
  mlir/lib/Gradient/Transforms/GradMethods/HybridGradient.cpp
  mlir/lib/Gradient/Transforms/GradMethods/PS_QuantumGradient.cpp
  mlir/lib/Gradient/Transforms/gradient_lowering.cpp
  mlir/lib/Quantum/Utils/CMakeLists.txt
  mlir/lib/Quantum/Utils/RemoveQuantum.cpp
  mlir/test/Gradient/AdjointTest.mlir
  mlir/test/Gradient/ClassicalJacobianTest.mlir
  mlir/test/Gradient/VerifierTest.mlir
  mlir/test/Quantum/AdjointTest.mlir
Labels: compiler

#399 [Frontend] Refactor call tree verification for Grad
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/pennylane_extensions.py
Labels: frontend

#375 [Frontend] Invoke Catalyst gradient functions from outside of `@qjit`
  doc/changelog.md
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/pennylane_extensions.py
  frontend/test/pytest/test_gradient.py
  frontend/test/pytest/test_jvpvjp.py
Labels: frontend

#400 Add macros for generating the device entry-point and declarations
  doc/changelog.md
  doc/dev/custom_devices.rst
  runtime/include/QuantumDevice.hpp
  runtime/lib/backend/common/Utils.hpp
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.cpp
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.hpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.cpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.hpp
  runtime/lib/backend/openqasm/OpenQasmDevice.cpp
  runtime/lib/backend/openqasm/OpenQasmDevice.hpp
  runtime/lib/capi/ExecutionContext.hpp
  runtime/tests/third_party/dummy_device.cpp
Labels: runtime

#369 [Frontend][Runtime] `lightning.qubit` specifies its supported capabilities, compilation options, and runtime options in a config file
  .github/workflows/check-catalyst.yaml
  Makefile
  doc/changelog.md
  doc/dev/custom_devices.rst
  frontend/catalyst/pennylane_extensions.py
  frontend/catalyst/utils/runtime.py
  frontend/catalyst/utils/toml.py
  frontend/test/lit/test_custom_ops.py
  frontend/test/lit/test_decomposition.py
  frontend/test/lit/test_mcmc.py
  frontend/test/pytest/test_braket_local_devices.py
  frontend/test/pytest/test_compiler.py
  frontend/test/pytest/test_config_functions.py
  frontend/test/pytest/test_custom_devices.py
  frontend/test/pytest/test_decomposition.py
  frontend/test/pytest/test_mcmc.py
  frontend/test/pytest/test_qnode.py
  runtime/lib/backend/CMakeLists.txt
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.cpp
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.hpp
  runtime/lib/backend/lightning/lightning_dynamic/lightning_qubit.toml
  runtime/lib/backend/lightning/lightning_kokkos/lightning_kokkos.toml
  runtime/lib/backend/openqasm/braket_aws_qubit.toml
  runtime/lib/backend/openqasm/braket_local_qubit.toml
  runtime/tests/Test_LightningMeasures.cpp
  runtime/tests/third_party/CMakeLists.txt
  runtime/tests/third_party/dummy_device.toml
  setup.py
Labels: runtime, frontend

#392 add shot-noise to measurement
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  doc/changelog.md
  doc/dev/quick_start.rst
  frontend/test/pytest/test_measurements_results.py
  frontend/test/pytest/test_measurements_shots_results.py
  frontend/test/pytest/test_pytree_args.py
  runtime/Makefile
  runtime/README.rst
  runtime/lib/backend/lightning/lightning_dynamic/LightningObsManager.hpp
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.cpp
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.hpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosObsManager.hpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.cpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.hpp
  runtime/lib/backend/openqasm/OpenQasmDevice.hpp
  runtime/tests/Test_LightningDriver.cpp
  runtime/tests/Test_LightningMeasures.cpp
Labels: runtime

#381 Pool of devices and async execution of multiple active devices supports
  Makefile
  demos/adaptive_circuits_demo.ipynb
  doc/changelog.md
  frontend/catalyst/jax_primitives.py
  frontend/test/pytest/test_compiler.py
  mlir/include/Quantum/IR/QuantumOps.td
  mlir/lib/Gradient/Transforms/ConversionPatterns.cpp
  mlir/lib/Gradient/Transforms/GradMethods/Adjoint.cpp
  mlir/lib/Gradient/Transforms/GradMethods/ClassicalJacobian.cpp
  mlir/lib/Gradient/Transforms/GradMethods/PS_QuantumGradient.cpp
  mlir/lib/Quantum/Transforms/ConversionPatterns.cpp
  runtime/lib/backend/openqasm/OpenQasmDevice.cpp
  runtime/lib/backend/openqasm/OpenQasmRunner.hpp
  runtime/lib/capi/ExecutionContext.hpp
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/tests/TestUtils.hpp
  runtime/tests/Test_DLManager.cpp
  runtime/tests/Test_LightningCoreQIS.cpp
  runtime/tests/Test_LightningDriver.cpp
  runtime/tests/Test_LightningGradient.cpp
Labels: runtime, compiler

#410 Add the PL default tolerance and number of shots for measurement tests
  doc/changelog.md
  frontend/test/pytest/conftest.py
  frontend/test/pytest/test_measurements_results.py
  frontend/test/pytest/test_measurements_shots_results.py
  frontend/test/pytest/test_pytree_args.py
Labels: frontend

#374 [MLIR] Lower QNode calls to async dialect
  doc/changelog.md
  frontend/catalyst/compilation_pipelines.py
  frontend/catalyst/compiler.py
  frontend/test/pytest/test_async.py
  mlir/include/Catalyst/Transforms/Passes.h
  mlir/include/Catalyst/Transforms/Passes.td
  mlir/include/Catalyst/Transforms/Patterns.h
  mlir/lib/Catalyst/Transforms/CMakeLists.txt
  mlir/lib/Catalyst/Transforms/QnodeToAsyncPatterns.cpp
  mlir/lib/Catalyst/Transforms/RegisterAllPasses.cpp
  mlir/lib/Catalyst/Transforms/qnode_to_async_lowering.cpp
  mlir/test/Catalyst/Async.mlir
  runtime/tests/Test_LightningCoreQIS.cpp
Labels: compiler, frontend

#413 Add libmlir_async_runtime to wheels
  Makefile
  runtime/lib/capi/ExecutionContext.hpp
  runtime/lib/capi/RuntimeCAPI.cpp
Labels: CI

#412 Fix macOS wheels
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  runtime/Makefile
Labels: CI
