Repository PennyLaneAI/catalyst, pull requests merged in 2024-08, with the labels that each got.

#989 Update oqc path and python version
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/scripts/linux_arm64/rh8/test_wheels.sh
  frontend/catalyst/third_party/oqc/oqc_device.py
  frontend/catalyst/third_party/oqc/src/OQCRunner.hpp
Labels: reviewer:require-wheels, author:build-wheels

#996 Remove upload-artifact pinning
  .github/workflows/build-wheel-linux-arm64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
Labels: author:build-wheels

#998 adding _transform_ops_gen.py in mlir bindings in frontend/mlir_quantum
  Makefile
Labels: author:build-wheels

#1002 Minor device decomposition refactor and bug fix
  doc/changelog.md
  frontend/catalyst/device/decomposition.py
  frontend/test/pytest/device/test_decomposition.py
Labels: frontend

#1005 Fix transform pass with no transforms present
  mlir/lib/Catalyst/Transforms/ApplyTransformSequencePass.cpp
  mlir/test/Catalyst/ApplyTransformSequenceTest.mlir
Labels: bug, compiler

#1001 Additional cache improvemnts
  .github/workflows/build-wheel-linux-arm64.yaml
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/check-pl-compat.yaml
Labels: author:build-wheels

#974 Remove Lightning Kokkos plugin
  .dep-versions
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/check-pl-compat.yaml
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
  doc/changelog.md
  doc/dev/installation.rst
  doc/requirements.txt
  frontend/catalyst/device/qjit_device.py
  runtime/CMakeLists.txt
  runtime/Makefile
  runtime/README.rst
  runtime/lib/backend/CMakeLists.txt
  runtime/lib/backend/lightning/CMakeLists.txt
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosObsManager.hpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.cpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.hpp
  runtime/tests/CMakeLists.txt
Labels: runtime, reviewer:require-wheels, author:build-wheels

#1007 Set OMP vars before importing numpy when testing
  frontend/test/conftest.py
  frontend/test/pytest/test_mid_circuit_measurement.py
Labels: frontend, author:build-wheels

#1009 Disable CI for draft PRs
  .github/workflows/build-wheel-linux-arm64.yaml
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
Labels: author:build-wheels

#1013 Add LDCXXSHARED to setup.py after setuptools release
  setup.py
Labels: author:build-wheels

#1018 Rename properties of Python version info of Linux Arm64 workflow
  .github/workflows/build-wheel-linux-arm64.yaml
Labels: author:build-wheels

#1021 [Build System] Restore kokkos tests
  .dep-versions
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  doc/requirements.txt
Labels: author:build-wheels

#1028 Update failed wheel notifier
  .github/workflows/notify-failed-jobs.yaml
Labels: CI

#1022 Setting up a dev environment from test PyPI Wheels
  .gitignore
  doc/changelog.md
  doc/dev/installation.rst
  setup_dev_from_wheel.sh
Labels: documentation, enhancement, good first issue

#1038 Restore accidentally deleted fenced code delimiter at changelog.md
  doc/changelog.md
Labels: documentation

#1003 Generating C executable that accesses the shared object file without Python
  .github/workflows/scripts/linux_arm64/rh8/test_wheels.sh
  doc/changelog.md
  doc/dev/debugging.rst
  frontend/catalyst/compiler.py
  frontend/catalyst/debug/__init__.py
  frontend/catalyst/debug/compiler_functions.py
  frontend/catalyst/utils/c_template.py
  frontend/test/pytest/test_c_template.py
  frontend/test/pytest/test_debug.py
Labels: author:build-wheels

#1045 Remove 'validate_device_capabilities' function and uses
  doc/changelog.md
  frontend/catalyst/device/__init__.py
  frontend/catalyst/device/qjit_device.py
  frontend/catalyst/qfunc.py
  frontend/test/pytest/test_config_functions.py
Labels: frontend

#1047 Correctly querying wire IDs for `SetState` and `SetBasisState` in runtime
  doc/changelog.md
  frontend/test/pytest/test_skip_initial_state_prep.py
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.cpp
Labels: bug, runtime

#1035 fixed catalyst to correctly extract number of shots for legacyDeviceFacade
  .dep-versions
  doc/changelog.md
  doc/requirements.txt
  frontend/catalyst/device/qjit_device.py
  frontend/catalyst/qfunc.py
  frontend/catalyst/third_party/cuda/__init__.py
  frontend/catalyst/third_party/cuda/catalyst_to_cuda_interpreter.py
  frontend/catalyst/third_party/cuda/cuda_quantum.toml
  frontend/test/pytest/test_cuda_integration.py
  frontend/test/pytest/test_measurements_shots_results.py
Labels: reviewer:require-wheels, author:build-wheels

#1048 Fix `compile_executable` tests and builld python3.10 from source in linux-arm64 script
  .github/workflows/scripts/linux_arm64/rh8/test_wheels.sh
  frontend/catalyst/debug/compiler_functions.py
  frontend/test/pytest/test_debug.py
Labels: bug, author:build-wheels

#1074 Add install ccache step for MacOS
  doc/dev/installation.rst
Labels: documentation

#1078 [frontend] Fix parameter annotation
  doc/releases/changelog-0.8.0.md
  frontend/catalyst/tracing/type_signatures.py
  frontend/test/pytest/test_jit_behaviour.py
Labels: bug, frontend

#1073 Fix StatePrep/BasisState not differentiable with parameter-shift
  doc/releases/changelog-0.8.0.md
  frontend/catalyst/jax_tracer.py
  frontend/test/pytest/test_gradient.py
  frontend/test/pytest/test_skip_initial_state_prep.py
  mlir/include/Quantum/IR/QuantumInterfaces.td
  mlir/include/Quantum/IR/QuantumOps.td
  mlir/lib/Gradient/Transforms/GradMethods/ClassicalJacobian.cpp
  mlir/lib/Gradient/Transforms/GradMethods/PS_QuantumGradient.cpp
  mlir/test/Quantum/VerifierTest.mlir
Labels: bug, compiler, frontend

#1063 Remove MemcpyOptPass from O2 for Enzyme
  doc/releases/changelog-dev.md
  frontend/test/pytest/test_gradient.py
  mlir/lib/Driver/CompilerDriver.cpp
Labels: bug, compiler

#1008 Fix lossy type promotion in JAX primitive lowering
  doc/releases/changelog-0.8.0.md
  frontend/catalyst/jax_primitives.py
  frontend/test/pytest/test_jax_primitives.py
Labels: bug, frontend

#1079 Update Lightning dependency to 0.38.0rcX
  .dep-versions
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
  doc/requirements.txt
  frontend/test/pytest/test_jax_primitives.py
  runtime/Makefile
Labels: author:build-wheels

#1082 Warn against `jax.scipy.linalg` functions in qjit and suggest using `catalyst.accelerate`
  doc/releases/changelog-0.8.0.md
  frontend/catalyst/api_extensions/callbacks.py
  frontend/catalyst/jax_extras/jax_scipy_linalg_warnings.py
  frontend/catalyst/jit.py
  frontend/catalyst/tracing/contexts.py
  frontend/test/pytest/test_jax_numerical.py
Labels: bug
