Repository PennyLaneAI/catalyst, pull requests merged in 2024-04, with the labels that each got.

#632 Remove dead code
  frontend/test/pytest/test_jit_behaviour.py
Labels: housecleaning

#641 Rename scalarFactors to scaleFactors
  mlir/include/Mitigation/IR/MitigationOps.td
  mlir/lib/Mitigation/Transforms/MitigationMethods/Zne.cpp
  mlir/test/Mitigation/zne.mlir
Labels: housecleaning

#643 Raise exception when OpenBLAS cannot be found
  doc/changelog.md
  frontend/catalyst/compiler.py
Labels: housecleaning

#650 Fix MLIR types
  doc/changelog.md
  frontend/catalyst/utils/types.py
Labels: requires-wheel-builds, ci:build-wheels

#654 Fix OQC Makefile variable
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/check-catalyst.yaml
  frontend/catalyst/oqc/src/Makefile
Labels: bug, requires-wheel-builds, ci:build-wheels

#649 Fix extension when looking for mlir_c_runner library
  doc/changelog.md
  runtime/lib/registry/Registry.cpp
Labels: requires-wheel-builds, ci:build-wheels

#657 Fixes missing OQC setup in macOS x86_64
  .github/workflows/build-wheel-macos-x86_64.yaml
Labels: requires-wheel-builds, ci:build-wheels

#642 Support interrupt signals during compilation & execution
  doc/changelog.md
  frontend/catalyst/utils/wrapper.cpp
  mlir/python/PyCompilerDriver.cpp
Labels: housecleaning

#667 Fix `distutils` import across environments
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  Makefile
  setup.py
Labels: ci:build-wheels

#658 Allow `diff_method=None` to be supported by QJIT
  doc/changelog.md
  frontend/catalyst/jax_primitives.py
  frontend/test/pytest/test_gradient.py
Labels: bug

#663 Bump from manylinux2014_x86_64 to manylinux_2_28_x86_64
  .github/workflows/build-wheel-linux-x86_64.yaml
  doc/changelog.md
Labels: CI, ci:build-wheels

#678 Fix missing Python config in MHLO build
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  mlir/Makefile
Labels: ci:build-wheels

#574 Add tests to verify shapes returned by transforms
  frontend/test/pytest/test_transform.py
Labels: housecleaning

#682 Pin lightning to recent version with correct gates in TOML file.
  .dep-versions
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  doc/requirements.txt
  frontend/test/pytest/test_measurements_shots_results.py
  mlir/lib/Driver/CompilerDriver.cpp
  mlir/lib/Driver/Timer.hpp
  runtime/Makefile
  runtime/tests/Test_LightningMeasures.cpp
Labels: ci:build-wheels

#675 On-Board check-catalyst workflow to use GitHub Large Runners
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/check-formatting.yaml
  .github/workflows/check-jax-release.yaml
  .github/workflows/check-pl-compat.yaml
  .github/workflows/constants.yaml
  .github/workflows/determine-workflow-runner.yml
Labels: ci:build-wheels, urgent

#681 Refactor quantum programming extensions
  .pylintrc
  doc/changelog.md
  doc/dev/quick_start.rst
  frontend/README.rst
  frontend/catalyst/__init__.py
  frontend/catalyst/api_extensions/__init__.py
  frontend/catalyst/api_extensions/callbacks.py
  frontend/catalyst/api_extensions/control_flow.py
  frontend/catalyst/api_extensions/differentiation.py
  frontend/catalyst/api_extensions/error_mitigation.py
  frontend/catalyst/api_extensions/function_maps.py
  frontend/catalyst/api_extensions/quantum_operators.py
  frontend/catalyst/callback/__init__.py
  frontend/catalyst/callback/debug/implementation.py
  frontend/catalyst/cuda/catalyst_to_cuda_interpreter.py
  frontend/catalyst/cuda/primitives/__init__.py
  frontend/catalyst/debug/__init__.py
  frontend/catalyst/debug/compiler_functions.py
  frontend/catalyst/debug/printing.py
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/jit.py
  frontend/catalyst/pennylane_extensions.py
  frontend/catalyst/preprocess.py
  frontend/catalyst/qfunc.py
  frontend/catalyst/qjit_device.py
  frontend/test/pytest/test_callback.py
  frontend/test/pytest/test_gradient.py
  frontend/test/pytest/test_gradient_postprocessing.py
  frontend/test/pytest/test_operations.py
  frontend/test/pytest/test_quantum_control.py
  setup.py
Labels: frontend

#685 Fix CI issue with Linux wheel builds failing / skipping
  .github/workflows/build-wheel-linux-x86_64.yaml
Labels: requires-wheel-builds, ci:build-wheels

#684 [CI/CD] Use 3.9 to build LLVM/MLIR bindings in build wheel action
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
Labels: ci:build-wheels

#597 Add instrumentation to Catalyst's frontend
  doc/changelog.md
  frontend/catalyst/compiler.py
  frontend/catalyst/debug/__init__.py
  frontend/catalyst/debug/instruments.py
  frontend/catalyst/jit.py
  frontend/test/lit/test_instrumentation_console.py
  frontend/test/lit/test_instrumentation_file.py
  mlir/lib/Driver/CompilerDriver.cpp
  mlir/lib/Driver/Timer.hpp
  runtime/lib/capi/RuntimeCAPI.cpp
Labels: frontend

#676 [Frontend] No resource warning
  .pylintrc
  doc/changelog.md
  frontend/catalyst/debug/printing.py
  frontend/catalyst/utils/filesystem.py
Labels: ci:build-wheels

#640 [Frontend] Remove code related to multiple parameters in global phase.
  doc/changelog.md
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/jax_tracer.py
Labels: housecleaning

#648 Produce integer samples / basis states when using the computational basis
  doc/changelog.md
  frontend/catalyst/cuda/primitives/__init__.py
  frontend/catalyst/jax_tracer.py
  frontend/test/pytest/test_braket_local_devices.py
  frontend/test/pytest/test_braket_remote_devices.py
  frontend/test/pytest/test_measurements_results.py
  frontend/test/pytest/test_measurements_shots_results.py
Labels: frontend, housecleaning

#671 Python dependency fixes
  demos/qml_optimization.ipynb
  frontend/test/pytest/test_braket_remote_devices.py
  pyproject.toml
  requirements.txt
  setup.py
Labels: ci:build-wheels

#670 Fix various CMake and Make file inconsistencies
  .github/workflows/build-wheel-linux-x86_64.yaml
  Makefile
  frontend/catalyst/oqc/src/tests/CMakeLists.txt
  mlir/CMakeLists.txt
  mlir/Makefile
  runtime/Makefile
Labels: ci:build-wheels
