Repository PennyLaneAI/catalyst, pull requests merged in 2024-02, with the labels that each got.

#488 Add lowering for the `lapack_dsyevd` custom call
  doc/changelog.md
  frontend/catalyst/utils/libcustom_calls.cpp
  frontend/test/lit/test_aot_compilation.py
  frontend/test/pytest/test_compiler.py
  mlir/lib/Catalyst/Transforms/catalyst_to_llvm.cpp
Labels: compiler

#479 Update AllocateQubit(s) in LightningKokkos to keep the old state-vector in qubit re-allocations
  doc/changelog.md
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.cpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.cpp
  runtime/lib/backend/openqasm/OpenQasmDevice.cpp
  runtime/tests/Test_LightningDriver.cpp
Labels: bug, runtime

#485 Enable LK and OQ3 devices by default in the installtion from src
  .github/workflows/check-catalyst.yaml
  .github/workflows/check-pl-compat.yaml
  Makefile
  doc/dev/installation.rst
  runtime/Makefile
  runtime/README.rst
Labels: runtime, ci:build-wheels

#475 Fix scatter op when updatedWindowsDims is empty (unlocks jax grad on slices)
  doc/changelog.md
  mlir/lib/Catalyst/Transforms/ScatterPatterns.cpp
  mlir/test/Catalyst/ScatterTest.mlir
Labels: bug

#498 Fix CPL stable/stable/stable
  .github/workflows/check-pl-compat.yaml
Labels: CI

#496 Fix the default value of `qubits_len` for the `qinst` primitive
  doc/changelog.md
  frontend/catalyst/jax_primitives.py
  frontend/test/pytest/test_jax_primitives.py
Labels: bug, frontend

#491 Implementation of post-selection for mid-circuit measurements
  doc/changelog.md
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/pennylane_extensions.py
  frontend/test/pytest/test_mid_circuit_measurement.py
  mlir/include/Quantum/IR/QuantumOps.td
  mlir/lib/Quantum/Transforms/ConversionPatterns.cpp
  mlir/test/Quantum/ConversionTest.mlir
  runtime/include/QuantumDevice.hpp
  runtime/include/RuntimeCAPI.h
  runtime/lib/backend/common/Utils.hpp
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.cpp
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.hpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.cpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.hpp
  runtime/lib/backend/openqasm/OpenQasmDevice.cpp
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/tests/Test_LightningCoreQIS.cpp
  runtime/tests/Test_LightningMeasures.cpp
  runtime/tests/Test_OpenQasmDevice.cpp
  runtime/tests/third_party/dummy_device.cpp
Labels: runtime, compiler, frontend

#504 Fix postselect issues
  frontend/catalyst/jax_primitives.py
  mlir/include/Quantum/IR/QuantumOps.td
  mlir/lib/Quantum/Transforms/ConversionPatterns.cpp
  mlir/test/Quantum/ConversionTest.mlir
  runtime/include/QuantumDevice.hpp
  runtime/include/RuntimeCAPI.h
  runtime/lib/backend/common/Utils.hpp
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.cpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.cpp
  runtime/lib/backend/openqasm/OpenQasmDevice.cpp
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/tests/Test_LightningMeasures.cpp
  runtime/tests/Test_OpenQasmDevice.cpp
  runtime/tests/third_party/dummy_device.cpp
Labels: runtime, compiler, frontend, ci:build-wheels

#506 Updated if block on wheel jobs to run on any label being added
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-for-wheel-build.yml
Labels: bug, CI

#511 Fix undiscoverable OpenMP on macOS
  .github/workflows/build-wheel-macos-arm64.yaml
  runtime/CMakeLists.txt
Labels: requires-wheel-builds, ci:build-wheels

#508 Simplify VJP/JVP/Grad/Jacobian frontend
  demos/qml/tutorial_qubit_rotation.ipynb
  doc/changelog.md
  doc/dev/quick_start.rst
  doc/dev/sharp_bits.rst
  frontend/catalyst/pennylane_extensions.py
  frontend/test/pytest/test_gradient.py
  frontend/test/pytest/test_gradient_postprocessing.py
  frontend/test/pytest/test_jvpvjp.py
Labels: frontend

#502 Update the Runtime CacheManager
  frontend/test/pytest/test_gradient.py
  runtime/include/QuantumDevice.hpp
  runtime/lib/backend/common/CacheManager.hpp
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.cpp
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.hpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.cpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.hpp
  runtime/lib/backend/openqasm/OpenQasmDevice.cpp
  runtime/lib/backend/openqasm/OpenQasmDevice.hpp
  runtime/tests/Test_CacheManager.cpp
  runtime/tests/Test_LightningGradient.cpp
Labels: runtime

#507 Implement reset feature for mid-circuit measurements
  doc/changelog.md
  frontend/catalyst/pennylane_extensions.py
  frontend/test/pytest/test_mid_circuit_measurement.py
Labels: frontend, ci:build-wheels

#489 [Runtime] Support native quantum control in the C-API
  doc/dev/custom_devices.rst
  mlir/lib/Quantum/Transforms/ConversionPatterns.cpp
  mlir/test/Quantum/ConversionTest.mlir
  runtime/include/QuantumDevice.hpp
  runtime/include/RuntimeCAPI.h
  runtime/include/Types.h
  runtime/lib/backend/common/CacheManager.hpp
  runtime/lib/backend/common/Utils.hpp
  runtime/lib/backend/lightning/lightning_dynamic/LightningSimulator.cpp
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.cpp
  runtime/lib/backend/openqasm/OpenQasmDevice.cpp
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/tests/TestUtils.hpp
  runtime/tests/Test_CacheManager.cpp
  runtime/tests/Test_LightningCoreQIS.cpp
  runtime/tests/Test_LightningGateSet.cpp
  runtime/tests/Test_LightningGradient.cpp
  runtime/tests/third_party/dummy_device.cpp
Labels: runtime

#477 [Frontend] Execute tapes in cuda-quantum
  .github/workflows/check-catalyst.yaml
  .github/workflows/check-pl-compat.yaml
  MANIFEST.in
  frontend/catalyst/cuda/__init__.py
  frontend/catalyst/cuda/catalyst_to_cuda_interpreter.py
  frontend/catalyst/cuda/cuda_quantum.toml
  frontend/catalyst/cuda/primitives/__init__.py
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/pennylane_extensions.py
  frontend/test/conftest.py
  frontend/test/pytest/test_cuda_integration.py
  setup.py
Labels: frontend, requires-wheel-builds, ci:build-wheels

#510 [CI/CD] Run async tests when building wheels.
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  doc/changelog.md
  frontend/catalyst/compiler.py
Labels: bug, frontend, CI, requires-wheel-builds, ci:build-wheels

#505 [Frontend] Split jax_extras into several modules
  frontend/catalyst/ag_primitives.py
  frontend/catalyst/compiled_functions.py
  frontend/catalyst/jax_extras/__init__.py
  frontend/catalyst/jax_extras/lowering.py
  frontend/catalyst/jax_extras/patches.py
  frontend/catalyst/jax_extras/tracing.py
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/pennylane_extensions.py
  frontend/catalyst/tracing/contexts.py
  frontend/catalyst/tracing/type_signatures.py
  frontend/test/pytest/test_jax_config.py
Labels: frontend

#537 Ensure constants action uses correct Catalyst tag
  .github/workflows/check-pl-compat.yaml
  .github/workflows/constants.yaml
Labels: CI

#531 Rework QJIT class into distinct compilation stages
  doc/changelog.md
  doc/dev/sharp_bits.rst
  frontend/README.rst
  frontend/catalyst/__init__.py
  frontend/catalyst/compiled_functions.py
  frontend/catalyst/compiler.py
  frontend/catalyst/cuda/catalyst_to_cuda_interpreter.py
  frontend/catalyst/debug.py
  frontend/catalyst/jax_extras/__init__.py
  frontend/catalyst/jax_extras/tracing.py
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/jit.py
  frontend/catalyst/pennylane_extensions.py
  frontend/catalyst/tracing/type_signatures.py
  frontend/test/lit/test_tensor_ops.mlir.py
  frontend/test/pytest/test_autograph.py
  frontend/test/pytest/test_c_template.py
  frontend/test/pytest/test_compiler.py
  frontend/test/pytest/test_conditionals.py
  frontend/test/pytest/test_debug.py
  frontend/test/pytest/test_jax_integration.py
  frontend/test/pytest/test_static_arguments.py
  frontend/test/pytest/test_tracing.py
Labels: frontend, ci:build-wheels

#550 Verify static argnums during program capture
  doc/changelog.md
  frontend/catalyst/jit.py
  frontend/test/pytest/test_static_arguments.py
Labels: bug, frontend

#553 [BUGFIX] Move duplicated grad_p.multiple_results to func_p
  frontend/catalyst/jax_primitives.py
Labels: bug, frontend, ci:build-wheels

#532 Add Python 3.12 support
  .github/workflows/constants.yaml
  .github/workflows/utils/setup_self_hosted_macos_env/action.yml
  doc/changelog.md
  setup.py
Labels: ci:build-wheels

#497 Add a qjit-compatible `catalyst.vmap` function
  doc/changelog.md
  frontend/catalyst/__init__.py
  frontend/catalyst/pennylane_extensions.py
  frontend/test/pytest/test_jax_integration.py
  frontend/test/pytest/test_vmap.py
Labels: frontend

#568 Fix wheel failures
  .dep-versions
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/check-pl-compat.yaml
  Makefile
  doc/requirements.txt
  frontend/test/pytest/test_template.py
  setup.py
Labels: CI, ci:build-wheels

#569 Fix the issue with dispatching to jax.vmap with qjit(vmap)
  doc/changelog.md
  frontend/catalyst/pennylane_extensions.py
  frontend/test/pytest/test_vmap.py
Labels: frontend
