Repository PennyLaneAI/catalyst, pull requests merged in 2024-03, with the labels that each got.

#563 Global Phase Gate
  .github/workflows/build-wheel-linux-x86_64.yaml
  doc/changelog.md
  frontend/catalyst/_version.py
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/qjit_device.py
  frontend/test/pytest/test_global_phase.py
  mlir/include/Quantum/IR/QuantumInterfaces.td
  mlir/include/Quantum/IR/QuantumOps.td
  mlir/lib/Quantum/Transforms/ConversionPatterns.cpp
  mlir/test/Quantum/VerifierTest.mlir
  runtime/Makefile
  runtime/include/RuntimeCAPI.h
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/tests/Test_LightningCoreQIS.cpp
Labels: requires-wheel-builds, ci:build-wheels

#571 Rc sync to main
  .dep-versions
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/check-pl-compat.yaml
  Makefile
  doc/changelog.md
  doc/requirements.txt
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/pennylane_extensions.py
  frontend/catalyst/qjit_device.py
  frontend/test/pytest/test_global_phase.py
  frontend/test/pytest/test_vmap.py
  mlir/include/Quantum/IR/QuantumInterfaces.td
  mlir/include/Quantum/IR/QuantumOps.td
  mlir/lib/Quantum/Transforms/ConversionPatterns.cpp
  mlir/test/Quantum/VerifierTest.mlir
  runtime/Makefile
  runtime/include/RuntimeCAPI.h
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/tests/Test_LightningCoreQIS.cpp
  setup.py
Labels: ci:build-wheels

#585 Remove unused variables from MLIR dialects
  mlir/lib/Catalyst/Transforms/DetectQNodes.cpp
  mlir/lib/Quantum/Transforms/ConversionPatterns.cpp
  mlir/test/Quantum/ConversionTest.mlir
Labels: compiler

#593 Fix wheels because of device test failure
  frontend/test/lit/test_device_api.py
  frontend/test/pytest/test_device_api.py
Labels: ci:build-wheels

#611 Fix config for wheels.
  doc/changelog.md
  frontend/test/pytest/test_config_functions.py
Labels: requires-wheel-builds, ci:build-wheels

#616 Support for value_and_grad at the frontend (outside a jitting context)
  frontend/catalyst/__init__.py
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/pennylane_extensions.py
  frontend/test/pytest/test_gradient.py
Labels: frontend

#528 Instrument compiler and runtime with `Timer` and `LinesCount`
  doc/changelog.md
  frontend/test/pytest/test_config_functions.py
  mlir/lib/Driver/CompilerDriver.cpp
  mlir/lib/Driver/Timer.hpp
  runtime/lib/capi/CMakeLists.txt
  runtime/lib/capi/ExecutionContext.hpp
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/tests/CMakeLists.txt
Labels: runtime, compiler

#612 Add demo showcasing QML optimization with Catalyst and Optax
  demos/qml_optimization.ipynb
  doc/index.rst
  requirements.txt
Labels: docs

#623 Improve leniency around `wires` argument type for operations
  doc/changelog.md
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/pennylane_extensions.py
  frontend/test/lit/test_device_api.py
  frontend/test/lit/test_gradient.py
  frontend/test/pytest/test_mid_circuit_measurement.py
  frontend/test/pytest/test_variable_wires.py
Labels: bug, frontend

#579 OQC device (C++)
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/constants.yaml
  Makefile
  doc/changelog.md
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/oqc/oqc_device.py
  frontend/catalyst/oqc/src/CMakeLists.txt
  frontend/catalyst/oqc/src/Makefile
  frontend/catalyst/oqc/src/OQCDevice.cpp
  frontend/catalyst/oqc/src/OQCDevice.hpp
  frontend/catalyst/oqc/src/OQCRunner.hpp
  frontend/catalyst/oqc/src/OpenQASM2Builder.hpp
  frontend/catalyst/oqc/src/oqc.toml
  frontend/catalyst/oqc/src/tests/CMakeLists.txt
  frontend/catalyst/oqc/src/tests/Test_OQCDevice.cpp
  frontend/catalyst/oqc/src/tests/Test_OpenQASM2Builder.cpp
  frontend/catalyst/oqc/src/tests/runner_main.cpp
  frontend/catalyst/utils/runtime.py
  frontend/test/test_oqc/conftest.py
  frontend/test/test_oqc/oqc/test_oqc_device.py
  setup.py
Labels: ci:build-wheels
