Repository PennyLaneAI/catalyst, pull requests merged in 2024-05, with the labels that each got.

#527 [Frontend] Eliminate python3.11 warnings
  frontend/catalyst/compiler.py
  frontend/test/pytest/test_compiler.py
  frontend/test/pytest/test_config_functions.py
  frontend/test/pytest/test_gradient.py
  frontend/test/pytest/test_measurements_shots_results.py
  frontend/test/pytest/test_meta_ops.py
  frontend/test/pytest/test_transform.py
Labels: housecleaning

#702 Dummy device is built by default
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  doc/dev/custom_devices.rst
  frontend/test/lit/test_device_api.py
  frontend/test/pytest/test_custom_devices.py
  frontend/test/pytest/test_device_api.py
  frontend/test/pytest/test_preprocess.py
  runtime/CMakeLists.txt
  runtime/Makefile
  runtime/lib/backend/CMakeLists.txt
  runtime/lib/backend/dummy/.gitignore
  runtime/lib/backend/dummy/CMakeLists.txt
  runtime/lib/backend/dummy/dummy_device.cpp
  runtime/lib/backend/dummy/dummy_device.toml
  runtime/tests/CMakeLists.txt
  runtime/tests/Test_DLManager.cpp
  runtime/tests/third_party/CMakeLists.txt
Labels: ci:build-wheels

#705 Use @disable_autograph as alias of Autograph's @do_not_convert
  frontend/catalyst/autograph.py
  frontend/test/lit/test_autograph.py
  frontend/test/pytest/test_autograph.py
Labels: good first issue, frontend

#709 [frontend] Delete @pytest.mark.tf markers
  frontend/test/pytest.ini
  frontend/test/pytest/test_autograph.py
Labels: frontend, housecleaning

#729 Pinning amazon-braket-pennylane-plugin in build wheel actions.
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  frontend/catalyst/utils/filesystem.py
Labels: ci:build-wheels

#726 Cherry picking RC to main
  .dep-versions
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  doc/changelog.md
  doc/dev/architecture.rst
  doc/dev/autograph.rst
  doc/dev/custom_devices.rst
  doc/dev/debugging.rst
  doc/dev/installation.rst
  doc/dev/quick_start.rst
  doc/dev/roadmap.rst
  doc/dev/sharp_bits.rst
  doc/requirements.txt
  frontend/README.rst
  frontend/catalyst/api_extensions/callbacks.py
  frontend/catalyst/api_extensions/quantum_operators.py
  frontend/catalyst/compiler.py
  frontend/catalyst/cuda/__init__.py
  frontend/catalyst/cuda/primitives/__init__.py
  frontend/catalyst/debug/__init__.py
  frontend/catalyst/debug/callback.py
  frontend/catalyst/debug/instruments.py
  frontend/catalyst/debug/printing.py
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/jit.py
  frontend/catalyst/oqc/src/Makefile
  frontend/catalyst/oqc/src/oqc.toml
  frontend/catalyst/qjit_device.py
  frontend/catalyst/utils/toml.py
  frontend/test/lit/test_device_api.py
  frontend/test/pytest/test_compiler.py
  frontend/test/pytest/test_config_functions.py
  frontend/test/pytest/test_cuda_integration.py
  frontend/test/pytest/test_custom_devices.py
  frontend/test/pytest/test_device_api.py
  frontend/test/pytest/test_gradient.py
  frontend/test/pytest/test_meta_ops.py
  frontend/test/pytest/test_preprocess.py
  frontend/test/pytest/test_quantum_control.py
  frontend/test/pytest/test_transform.py
  runtime/CMakeLists.txt
  runtime/Makefile
  runtime/README.rst
  runtime/lib/backend/CMakeLists.txt
  runtime/lib/backend/dummy/.gitignore
  runtime/lib/backend/dummy/CMakeLists.txt
  runtime/lib/backend/dummy/dummy_device.cpp
  runtime/lib/backend/dummy/dummy_device.toml
  runtime/tests/CMakeLists.txt
  runtime/tests/Test_DLManager.cpp
  runtime/tests/third_party/CMakeLists.txt
  setup.py
Labels: ci:build-wheels

#717 Add support to AG for Jax array single assignment
  doc/changelog.md
  frontend/catalyst/autograph/ag_primitives.py
  frontend/catalyst/autograph/transformer.py
  frontend/test/pytest/test_autograph.py
Labels: good first issue, frontend

#738 Use autoray<0.6.10
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
Labels: ci:build-wheels

#733 Fixing ```Batching rule for 'gather' not implemented``` for jax.scipy.linalg.expm under qml.qjit.
  doc/changelog.md
  frontend/catalyst/jax_extras/tracing.py
  frontend/test/pytest/test_jax_dynamic_api.py
Labels: bug

#740 Quick fix for expm gather batching rule bug fix: wheels on macos...
  frontend/test/pytest/test_jax_dynamic_api.py
Labels: requires-wheel-builds, ci:build-wheels

#741 Document 'disable_autograph' option
  doc/dev/autograph.rst
Labels: frontend, docs

#736 Document support under Autograph for JAX array assignment
  doc/dev/autograph.rst
  frontend/catalyst/jit.py
Labels: frontend, docs

#728 Decompose nested tapes in HybridOps Pt 2
  .dep-versions
  frontend/catalyst/device/decomposition.py
  frontend/catalyst/device/qjit_device.py
  frontend/catalyst/jax_tracer.py
  frontend/test/pytest/test_device_api.py
  frontend/test/pytest/test_preprocess.py
Labels: ci:build-wheels

#746 Re-apply bump from manylinux2014_x86_64 to manylinux_2_28_x86_64
  .github/workflows/build-wheel-linux-x86_64.yaml
  doc/changelog.md
Labels: ci:build-wheels

#748 Use amazon-braket-pennylane-plugin>1.27.1
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  requirements.txt
Labels: ci:build-wheels

#752 Fixing `jax.scipy.linalg.expm` complaints regarding undefined symbols.
  doc/changelog.md
  frontend/catalyst/utils/libcustom_calls.cpp
  frontend/test/pytest/test_jax_dynamic_api.py
  frontend/test/pytest/test_jax_numerical.py
Labels: bug

#725 Support autograph_include option in qjit
  doc/changelog.md
  doc/dev/autograph.rst
  frontend/catalyst/compiler.py
  frontend/catalyst/jit.py
  frontend/catalyst/utils/dummy.py
  frontend/test/lit/test_autograph.py
  frontend/test/pytest/test_autograph.py
Labels: good first issue, frontend

#758 Refactor vmap following the decorator callable class pattern
  doc/changelog.md
  frontend/catalyst/api_extensions/function_maps.py
  frontend/test/pytest/test_vmap.py
Labels: good first issue, frontend

#761 Define qjit API before its implementation to comply with the api_extensions convention
  doc/changelog.md
  frontend/catalyst/jit.py
  frontend/test/pytest/test_jit_behaviour.py
Labels: frontend

#762 Refactor gradient APIs for using partials
  doc/changelog.md
  frontend/catalyst/api_extensions/differentiation.py
  frontend/test/pytest/test_gradient.py
Labels: frontend

#763 Refactor mitigate_with_zne API for using partials
  doc/changelog.md
  frontend/catalyst/api_extensions/error_mitigation.py
  frontend/test/pytest/test_mitigation.py
Labels: frontend

#766 Have a documentation for accessing the original function of a QJIT object
  doc/dev/sharp_bits.rst
  frontend/catalyst/jit.py
Labels: enhancement, frontend, docs
