Repository PennyLaneAI/catalyst, pull requests merged in 2024-01, with the labels that each got.

#416 Update Lightning tags
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  runtime/Makefile
Labels: CI

#408 Fix compatibility with latest PennyLane (v0.34-dev)
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/pennylane_extensions.py
  frontend/test/pytest/test_adjoint.py
  frontend/test/pytest/test_quantum_control.py
  frontend/test/pytest/test_transform.py
  mlir/lib/Quantum/Transforms/AdjointPatterns.cpp
  mlir/test/Quantum/AdjointTest.mlir
Labels: frontend

#418 Fix print function and strings issue
  doc/changelog.md
  frontend/catalyst/jax_primitives.py
  frontend/test/pytest/test_debug.py
Labels: frontend

#423 Do not use LightningDevice in frontend tests for device config files
  frontend/test/pytest/test_config_functions.py
Labels: frontend

#422 Build runtime (stable) with Lightning git tag in runtime/Makefile instead of latest_release in the plugin matrix
  .github/workflows/check-pl-compat.yaml
Labels: CI

#433 Update async tests to support multiple backends
  frontend/test/pytest/test_async.py
Labels: frontend

#411 [Frontend, MLIR] Support indexing of the dynamically shaped arrays
  doc/changelog.md
  frontend/catalyst/utils/jax_extras.py
  frontend/test/lit/test_jax_dynamic_api.py
  frontend/test/pytest/test_jax_dynamic_api.py
  mlir/lib/Catalyst/Transforms/ScatterPatterns.cpp
Labels: frontend

#443 Update lightning tag to v0.34.0
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  runtime/Makefile
Labels: CI

#446 Address the issue of missing calls to device destructors at the end of programs
  doc/changelog.md
  runtime/lib/capi/ExecutionContext.hpp
  runtime/lib/capi/RuntimeCAPI.cpp
Labels: runtime

#457 Build and package Catalyst wheels with OpenMP and ZStd
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  doc/changelog.md
  doc/dev/installation.rst
  mlir/Makefile
  runtime/Makefile
Labels: CI

#409 Update MacOS Arm64 workflow to run on Non GitHub Runner
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/utils/setup_self_hosted_macos_env/action.yml
Labels: CI

#465 Resolve segfaults when TF & Catalyst are both imported
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  Makefile
  doc/changelog.md
  frontend/catalyst/jax_primitives.py
  mlir/CMakeLists.txt
  mlir/Makefile
  mlir/python/CMakeLists.txt
Labels: bug

#472 Remove copies of the lightning device configuration TOML files in Catalyst
  doc/changelog.md
  runtime/lib/backend/CMakeLists.txt
  runtime/lib/backend/lightning/lightning_dynamic/lightning_qubit.toml
  runtime/lib/backend/lightning/lightning_kokkos/lightning_kokkos.toml
Labels: runtime

#471 Do not specify OpenBLAS library at build time to avoid file name discrepencies
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  doc/changelog.md
  frontend/catalyst/compiler.py
  pyproject.toml
  setup.py
Labels: bug, frontend

#473 Fix the issue with `AllocateRange` in the runtime
  doc/changelog.md
  runtime/lib/backend/lightning/lightning_kokkos/LightningKokkosSimulator.cpp
  runtime/lib/backend/openqasm/OpenQasmDevice.cpp
  runtime/tests/Test_LightningDriver.cpp
  runtime/tests/Test_OpenQasmDevice.cpp
Labels: bug

#474 Build plugin matrix with LLD (follow-up on #465)
  .github/workflows/check-pl-compat.yaml
Labels: do-not-merge, CI

#478 Disable LightningKokkos OMP backend on macOS (x86_64)
  .github/workflows/build-wheel-macos-x86_64.yaml
Labels: CI

#464 [MLIR][Runtime] Change `__quantum__` to` __catalyst__` for all catalyst defined library.
  doc/changelog.md
  frontend/test/pytest/test_jit_behaviour.py
  mlir/lib/Catalyst/Transforms/catalyst_to_llvm.cpp
  mlir/lib/Gradient/Transforms/ConversionPatterns.cpp
  mlir/lib/Quantum/Transforms/ConversionPatterns.cpp
  mlir/test/Catalyst/ConversionTest.mlir
  mlir/test/Gradient/ConversionTest.mlir
  mlir/test/Quantum/ConversionTest.mlir
  runtime/examples/grad_qfunc.ll
  runtime/examples/probs_qfunc.ll
  runtime/examples/state_qfunc.ll
  runtime/include/RuntimeCAPI.h
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/tests/Test_CacheManager.cpp
  runtime/tests/Test_DLManager.cpp
  runtime/tests/Test_LightningCoreQIS.cpp
  runtime/tests/Test_LightningGradient.cpp
  runtime/tests/Test_OpenQasmDevice.cpp
Labels: runtime

#480 Add the `wires` property to `catalyst.adjoint` and `catalyst.ctrl`
  doc/changelog.md
  frontend/catalyst/pennylane_extensions.py
  frontend/test/pytest/test_adjoint.py
  frontend/test/pytest/test_quantum_control.py
Labels: bug, frontend

#483 Add BlockEncode support to Catalyst
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  doc/changelog.md
  frontend/catalyst/pennylane_extensions.py
  frontend/test/pytest/test_operations.py
  runtime/Makefile
Labels: frontend, CI

#470 [Runtime] Remove dependency on QIR's runner stdlib.
  .github/workflows/check-pl-compat.yaml
  doc/changelog.md
  doc/dev/architecture.rst
  doc/dev/custom_devices.rst
  mlir/lib/Quantum/Transforms/ConversionPatterns.cpp
  mlir/test/Quantum/ConversionTest.mlir
  runtime/CMakeLists.txt
  runtime/README.rst
  runtime/examples/grad_qfunc.ll
  runtime/examples/probs_qfunc.ll
  runtime/examples/state_qfunc.ll
  runtime/include/RuntimeCAPI.h
  runtime/include/Types.h
  runtime/lib/capi/CMakeLists.txt
  runtime/lib/capi/ExecutionContext.hpp
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/tests/TestUtils.hpp
  runtime/tests/Test_CacheManager.cpp
  runtime/tests/Test_LightningCoreQIS.cpp
  runtime/tests/Test_LightningGradient.cpp
Labels: runtime
