Repository PennyLaneAI/catalyst, pull requests merged in 2024-11, with the labels that each got.

#1274 Update macos-12 runners to macos-13
  .github/workflows/build-nightly-release.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
Labels: author:build-wheels, urgent

#1269 Bump PennyLane and Lightning minimum versions
  .dep-versions
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
  .github/workflows/scripts/linux_arm64/rh8/test_wheels.sh
  Makefile
  doc/requirements.txt
  runtime/Makefile
  setup.py
Labels: author:build-wheels, urgent

#1280 Merge release v0.9.0 into main
  .dep-versions
  .github/workflows/build-nightly-release.yaml
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
  doc/catalyst-cli/catalyst-cli.rst
  doc/dev/transforms.rst
  doc/index.rst
  doc/requirements.txt
  mlir/include/Driver/CompilerDriver.h
  mlir/include/Quantum/Transforms/Passes.td
  mlir/lib/Driver/CompilerDriver.cpp
  runtime/Makefile
  setup.py
Labels: author:build-wheels, urgent

#1286 Update CI check-catalyst action to use latest release kokkos (v0.39.0)
  .github/workflows/check-catalyst.yaml
Labels: urgent

#624 [Runtime] Use GIL lock in the runtime instead of custom mutexes.
  .github/workflows/check-catalyst.yaml
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
  Makefile
  frontend/catalyst/third_party/oqc/src/CMakeLists.txt
  frontend/catalyst/third_party/oqc/src/Makefile
  frontend/catalyst/third_party/oqc/src/OQCDevice.hpp
  frontend/catalyst/third_party/oqc/src/OQCRunner.hpp
  frontend/catalyst/third_party/oqc/src/oqc_python_module.cpp
  frontend/catalyst/third_party/oqc/src/tests/CMakeLists.txt
  frontend/catalyst/third_party/oqc/src/tests/Test_OQCDevice.cpp
  frontend/catalyst/utils/wrapper.cpp
  runtime/CMakeLists.txt
  runtime/include/DynamicLibraryLoader.hpp
  runtime/lib/backend/openqasm/CMakeLists.txt
  runtime/lib/backend/openqasm/OpenQasmDevice.cpp
  runtime/lib/backend/openqasm/OpenQasmDevice.hpp
  runtime/lib/backend/openqasm/OpenQasmRunner.hpp
  runtime/lib/backend/openqasm/openqasm_python_module.cpp
  runtime/lib/capi/CMakeLists.txt
  runtime/lib/capi/ExecutionContext.hpp
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/lib/registry/Registry.cpp
  runtime/tests/CMakeLists.txt
  runtime/tests/Test_OpenQasmDevice.cpp
  runtime/utils/CMakeLists.txt
  runtime/utils/Python.cpp
  runtime/utils/Python.hpp
Labels: author:build-wheels, urgent

#1173 Replace pybind11 with nanobind in frontend
  .github/workflows/check-catalyst.yaml
  .readthedocs.yaml
  Makefile
  doc/releases/changelog-dev.md
  frontend/CMakeLists.txt
  frontend/catalyst/CMakeLists.txt
  frontend/catalyst/utils/CMakeLists.txt
  frontend/catalyst/utils/wrapper.cpp
  frontend/test/pytest/test_callback.py
  pyproject.toml
  requirements.txt
  setup.py
Labels: author:build-wheels

#1227 Remove LQ plugin from Catalyst
  .dep-versions
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/check-pl-compat.yaml
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
  Makefile
  doc/releases/changelog-dev.md
  doc/requirements.txt
  frontend/catalyst/device/qjit_device.py
  frontend/test/lit/test_quantum_control.py
  frontend/test/pytest/test_verification.py
  runtime/CMakeLists.txt
  runtime/Makefile
  runtime/examples/Makefile
  runtime/examples/README.rst
  runtime/examples/grad_qfunc.ll
  runtime/examples/probs_qfunc.ll
  runtime/examples/state_qfunc.ll
  runtime/lib/backend/CMakeLists.txt
  runtime/lib/backend/lightning/CMakeLists.txt
  runtime/lib/backend/lightning/lightning_dynamic/StateVectorLQubitDynamic.cpp
  runtime/tests/CMakeLists.txt
  runtime/tests/Test_CacheManager.cpp
  runtime/tests/Test_DLManager.cpp
  runtime/tests/Test_LightningCoreQIS.cpp
  runtime/tests/Test_LightningDriver.cpp
  runtime/tests/Test_LightningGateSet.cpp
  runtime/tests/Test_LightningGradient.cpp
  runtime/tests/Test_LightningMeasures.cpp
  runtime/tests/Test_QubitManager.cpp
  runtime/tests/Test_SVDynamicCPU_Allocation.cpp
  runtime/tests/Test_SVDynamicCPU_Core.cpp
Labels: reviewer:require-wheels, author:build-wheels

#1305 Cleanup after decoupling Python from the runtime C-API
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
  .github/workflows/scripts/linux_arm64/rh8/test_wheels.sh
  doc/releases/changelog-dev.md
  frontend/catalyst/debug/compiler_functions.py
Labels: reviewer:require-wheels, author:build-wheels

#1187 Remove pybind11 modules from Catalyst's core MLIR libs
  doc/releases/changelog-dev.md
  mlir/python/CMakeLists.txt
  mlir/python/QuantumExtension.cpp
  mlir/test/CMakeLists.txt
  mlir/test/python/lit.local.cfg
  mlir/test/python/smoketest_catalyst.py
  mlir/test/python/smoketest_gradient.py
  mlir/test/python/smoketest_quantum.py
Labels: author:build-wheels

#1293 Replace pybind11 with nanobind in Catalyst Runtime
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
  Makefile
  doc/releases/changelog-dev.md
  frontend/catalyst/third_party/oqc/src/OQCRunner.hpp
  frontend/test/pytest/test_callback.py
  runtime/CMakeLists.txt
  runtime/Makefile
  runtime/lib/backend/openqasm/CMakeLists.txt
  runtime/lib/backend/openqasm/OpenQasmRunner.hpp
  runtime/lib/backend/openqasm/openqasm_python_module.cpp
  runtime/lib/capi/CMakeLists.txt
  runtime/lib/registry/CMakeLists.txt
  runtime/lib/registry/Registry.cpp
  runtime/tests/Test_OpenQasmDevice.cpp
Labels: author:build-wheels

#1308 Update following removal of legacy opmath in Pennylane
  .dep-versions
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/scripts/linux_arm64/rh8/test_wheels.sh
  doc/releases/changelog-dev.md
  doc/requirements.txt
  frontend/catalyst/device/qjit_device.py
  frontend/catalyst/device/verification.py
  frontend/catalyst/jax_tracer.py
  frontend/test/lit/test_multi_qubit_gates.py
  frontend/test/pytest/test_adjoint.py
  frontend/test/pytest/test_braket_local_devices.py
  frontend/test/pytest/test_custom_devices.py
  frontend/test/pytest/test_measurement_transforms.py
  frontend/test/pytest/test_measurements_shots_results.py
  frontend/test/pytest/test_quantum_control.py
  frontend/test/pytest/test_verification.py
Labels: author:build-wheels

#1320 [CI/CD] Indent comments
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
Labels: author:build-wheels

#1325 [CI/CD] Fix changes after review
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
Labels: author:build-wheels, urgent

#1328 Use LAPACKE interface for Accelerate on macOS
  .github/workflows/build-wheel-macos-arm64.yaml
  .gitignore
  Makefile
  README.md
  doc/releases/changelog-dev.md
  frontend/catalyst/compiler.py
  frontend/catalyst/utils/jax_cpu_lapack_kernels/lapack_kernels_using_lapack.cpp
  frontend/test/pytest/test_jax_linalg.py
  frontend/test/pytest/test_jax_linalg_in_circuit.py
  runtime/CMakeLists.txt
  setup.py
Labels: reviewer:require-wheels, author:build-wheels

#1338 Fix stride calculation in `get_cmain`
  doc/releases/changelog-dev.md
  frontend/catalyst/utils/c_template.py
Labels: bug, frontend
