Repository PennyLaneAI/catalyst, pull requests merged in 2024-06, with the labels that each got.

#795 Unpin autoray
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  requirements.txt
Labels: ci:build-wheels

#784 Fixes for wire management in Catalyst
  doc/changelog.md
  frontend/catalyst/device/qjit_device.py
  frontend/catalyst/jax_tracer.py
  frontend/test/pytest/test_device_api.py
  frontend/test/pytest/test_measurements_results.py
  mlir/include/Quantum/IR/QuantumOps.td
  mlir/lib/Quantum/IR/QuantumOps.cpp
  mlir/test/Quantum/VerifierTest.mlir
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/tests/Test_LightningCoreQIS.cpp
Labels: bug, runtime, compiler, frontend

#626 [Frontend] Program verification
  .dep-versions
  Makefile
  frontend/catalyst/api_extensions/__init__.py
  frontend/catalyst/api_extensions/differentiation.py
  frontend/catalyst/api_extensions/quantum_operators.py
  frontend/catalyst/device/__init__.py
  frontend/catalyst/device/decomposition.py
  frontend/catalyst/device/qjit_device.py
  frontend/catalyst/jax_extras/__init__.py
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/programs/verification.py
  frontend/catalyst/qfunc.py
  frontend/catalyst/utils/toml.py
  frontend/test/lit/test_decomposition.py
  frontend/test/lit/test_quantum_control.py
  frontend/test/pytest/test_adjoint.py
  frontend/test/pytest/test_config_functions.py
  frontend/test/pytest/test_custom_devices.py
  frontend/test/pytest/test_decomposition.py
  frontend/test/pytest/test_device_api.py
  frontend/test/pytest/test_gradient.py
  frontend/test/pytest/test_preprocess.py
  frontend/test/pytest/test_quantum_control.py
  frontend/test/pytest/test_verification.py
Labels: frontend

#817 Add pytest-mock
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
Labels: ci:build-wheels

#770 [Frontend] Update execution config
  frontend/catalyst/autograph/ag_primitives.py
  frontend/catalyst/device/qjit_device.py
  frontend/catalyst/jax_extras/tracing.py
  frontend/catalyst/jax_primitives.py
  frontend/catalyst/jax_tracer.py
  frontend/catalyst/programs/verification.py
  frontend/catalyst/third_party/cuda/primitives/__init__.py
  frontend/test/pytest/test_device_api.py
  frontend/test/pytest/test_qnode.py
  frontend/test/pytest/test_verification.py
Labels: frontend

#767 Add workflow for Linux Arm64
  .github/workflows/build-wheel-linux-arm64.yaml
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
  .github/workflows/scripts/linux_arm64/rh8/build_enzyme.sh
  .github/workflows/scripts/linux_arm64/rh8/build_llvm.sh
  .github/workflows/scripts/linux_arm64/rh8/build_mhlo.sh
  .github/workflows/scripts/linux_arm64/rh8/test_wheels.sh
  .github/workflows/utils/setup_self_hosted_macos_env_linux_arm64/action.yml
  doc/changelog.md
  frontend/catalyst/third_party/oqc/src/CMakeLists.txt
  frontend/catalyst/third_party/oqc/src/Makefile
Labels: ci:build-wheels

#785 Remove obsolete TOML code
  .dep-versions
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  doc/requirements.txt
  frontend/catalyst/device/qjit_device.py
  frontend/test/pytest/test_config_functions.py
  frontend/test/pytest/test_gradient.py
  requirements.txt
  runtime/Makefile
  runtime/lib/backend/lightning/lightning.kokkos.schema2.toml
  runtime/lib/backend/lightning/lightning.qubit.schema2.toml
  setup.py
Labels: frontend, ci:build-wheels, urgent

#821 [Frontend] Split non-commuting observables
  .dep-versions
  frontend/catalyst/device/qjit_device.py
  frontend/catalyst/third_party/cuda/cuda_quantum.toml
  frontend/catalyst/third_party/oqc/src/oqc.toml
  frontend/catalyst/utils/toml.py
  frontend/test/pytest/test_preprocess.py
  runtime/lib/backend/dummy/dummy_device.toml
Labels: frontend

#846 Update determine runner workflow to use large runners if the branch name matches the rc branching format
  .github/workflows/determine-workflow-runner.yml
Labels: urgent

#868 Limit the number of parallel jobs to 2 when building Linux Arm64 wheels
  .github/workflows/build-wheel-linux-arm64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
Labels: ci:build-wheels

#875 Bump Lightning-rc branch from 0.36.0 to 0.37.0
  .github/workflows/check-pl-compat.yaml
Labels: CI

#878 Revert 'packaging' pinning
  .github/workflows/build-wheel-macos-arm64.yaml
Labels: ci:build-wheels
