Repository PennyLaneAI/catalyst, pull requests merged in 2025-03, with the labels that each got.

#1544 [WIP] Capture "cancel_inverses" transform
  doc/releases/changelog-dev.md
  frontend/catalyst/from_plxpr.py
  frontend/test/pytest/test_capture_integration.py
Labels: frontend, plxpr

#1561 Capture "merge_rotation" transform
  doc/releases/changelog-dev.md
  frontend/catalyst/from_plxpr.py
  frontend/test/pytest/test_capture_integration.py
Labels: frontend, plxpr

#1105 [build-system][tests] Add unittests for MLIR libraries
  .pylintrc
  mlir/CMakeLists.txt
  mlir/Makefile
  mlir/test/CMakeLists.txt
  mlir/test/Unit/lit.cfg.py
  mlir/test/Unit/lit.site.cfg.py.in
  mlir/unittests/CMakeLists.txt
  mlir/unittests/Example/CMakeLists.txt
  mlir/unittests/Example/Example.cpp
Labels: reviewer:require-wheels, author:build-wheels

#1573 Capture and expand pending PL transforms
  frontend/catalyst/from_plxpr.py
  frontend/test/pytest/test_capture_integration.py
Labels: frontend, plxpr

#1567 Capture and expand PL transforms
  .dep-versions
  doc/releases/changelog-dev.md
  doc/requirements.txt
  frontend/catalyst/from_plxpr.py
  frontend/test/pytest/test_capture_integration.py
Labels: frontend, plxpr

#1572 Update OQD toml files parameters
  frontend/test/test_oqd/oqd/calibration_data/gate.toml
  frontend/test/test_oqd/oqd/calibration_data/qubit.toml
  frontend/test/test_oqd/oqd/test_openapl_generation.py
  frontend/test/test_oqd/oqd/test_single_CNOT.json
  frontend/test/test_oqd/oqd/test_single_RX.json
  mlir/lib/Ion/Transforms/QuantumToIonPatterns.cpp
  mlir/test/Ion/QuantumToIon.mlir
Labels: OQD

#1578 Plxpr capture: Support the usage of shots as integer values too
  doc/releases/changelog-dev.md
  frontend/catalyst/from_plxpr.py
  frontend/test/pytest/test_capture_integration.py
Labels: frontend, plxpr

#1554 [build system] exporting catalyst targets
  mlir/CMakeLists.txt
  mlir/cmake/modules/CMakeLists.txt
  mlir/cmake/modules/CatalystConfig.cmake.in
Labels: reviewer:require-wheels, author:build-wheels

#1588 Audit Runtime build infrastructure
  .github/workflows/build-wheel-macos-arm64.yaml
  Makefile
  doc/dev/installation.rst
  frontend/test/lit/lit.cfg.py
  runtime/CMakeLists.txt
  runtime/Makefile
  runtime/include/Exception.hpp
  runtime/lib/OQDcapi/OQDRuntimeCAPI.cpp
  runtime/lib/backend/common/DynamicLibraryLoader.hpp
  runtime/lib/backend/null_qubit/CMakeLists.txt
  runtime/lib/backend/openqasm/CMakeLists.txt
  runtime/lib/backend/openqasm/openqasm_python_module.cpp
  runtime/lib/backend/oqd/CMakeLists.txt
  runtime/lib/capi/CMakeLists.txt
  runtime/lib/capi/ExecutionContext.hpp
  runtime/lib/capi/RuntimeCAPI.cpp
  runtime/lib/registry/CMakeLists.txt
  runtime/tests/CMakeLists.txt
  runtime/tests/TestUtils.hpp
  runtime/tests/Test_NullQubit.cpp
  runtime/tests/Test_OQDDevice.cpp
  runtime/tests/Test_OpenQasmBuilder.cpp
  runtime/tests/Test_OpenQasmDevice.cpp
  runtime/tests/runner_main.cpp
Labels: runtime, reviewer:require-wheels, author:build-wheels, housecleaning
