Repository PennyLaneAI/catalyst, pull requests merged in 2025-02, with the labels that each got.

#1466 [WIP] Lowering Ion dialect to llvm dialect
  doc/releases/changelog-dev.md
  mlir/include/Ion/IR/IonDialect.td
  mlir/include/Ion/IR/IonOps.td
  mlir/include/Ion/Transforms/Passes.h
  mlir/include/Ion/Transforms/Passes.td
  mlir/include/Ion/Transforms/Patterns.h
  mlir/include/Ion/Transforms/oqd_database_managers.hpp
  mlir/include/Ion/Transforms/oqd_database_types.hpp
  mlir/lib/Catalyst/Transforms/RegisterAllPasses.cpp
  mlir/lib/Driver/CompilerDriver.cpp
  mlir/lib/Ion/Transforms/CMakeLists.txt
  mlir/lib/Ion/Transforms/ConversionPatterns.cpp
  mlir/lib/Ion/Transforms/QuantumToIonPatterns.cpp
  mlir/lib/Ion/Transforms/ion-to-llvm.cpp
  mlir/lib/Ion/Transforms/quantum_to_ion.cpp
  mlir/test/Ion/Dialect.mlir
  mlir/test/Ion/IonOpLowering.mlir
  mlir/test/Ion/ParallelProtocolOpLowering.mlir
  mlir/test/Ion/PulseOpLowering.mlir
  mlir/test/Ion/QuantumToIon.mlir
  mlir/test/Ion/oqd_qubit_parameters.toml
Labels: OQD

#1498 Use local MLIR directory instead of network MLIR sources
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
  runtime/CMakeLists.txt
  runtime/Makefile
  runtime/lib/capi/CMakeLists.txt
Labels: author:build-wheels

#1508 Move oqd device to runtime
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
  .github/workflows/check-catalyst.yaml
  .github/workflows/scripts/linux_arm64/rh8/build_catalyst.sh
  Makefile
  doc/releases/changelog-dev.md
  frontend/catalyst/third_party/oqd/oqd_device.py
  frontend/catalyst/third_party/oqd/src/CMakeLists.txt
  frontend/catalyst/third_party/oqd/src/Makefile
  frontend/catalyst/third_party/oqd/src/tests/CMakeLists.txt
  frontend/catalyst/third_party/oqd/src/tests/runner_main.cpp
  frontend/catalyst/utils/runtime_environment.py
  runtime/CMakeLists.txt
  runtime/Makefile
  runtime/lib/backend/CMakeLists.txt
  runtime/lib/backend/oqd/CMakeLists.txt
  runtime/lib/backend/oqd/OQDDevice.cpp
  runtime/lib/backend/oqd/OQDDevice.hpp
  runtime/lib/backend/oqd/OQDRunner.hpp
  runtime/lib/backend/oqd/oqd.toml
  runtime/tests/CMakeLists.txt
  runtime/tests/Test_OQDDevice.cpp
Labels: reviewer:require-wheels, author:build-wheels, OQD

#1518 [ci] Checking out source if it is not on the cache
  .github/workflows/check-catalyst.yaml
Labels: urgent

#1509 Capture "for_loop" workflow
  doc/releases/changelog-dev.md
  frontend/catalyst/from_plxpr.py
  frontend/test/pytest/test_capture_integration.py
Labels: frontend

#1523 Explicitly clarify that `AllocateQubits(N)` returns a vector from 0 to N-1 in documentation
  doc/dev/custom_devices.rst
Labels: documentation, docs

#1516 Create a runtime OQD device that generates OpenAPL
  Makefile
  README.md
  doc/releases/changelog-dev.md
  frontend/catalyst/compiler.py
  mlir/lib/Ion/Transforms/CMakeLists.txt
  mlir/lib/Ion/Transforms/ConversionPatterns.cpp
  mlir/test/Ion/IonOpLowering.mlir
  mlir/test/Ion/ParallelProtocolOpLowering.mlir
  mlir/test/Ion/PulseOpLowering.mlir
  runtime/Makefile
  runtime/include/OQDRuntimeCAPI.h
  runtime/lib/CMakeLists.txt
  runtime/lib/OQDcapi/CMakeLists.txt
  runtime/lib/OQDcapi/OQDRuntimeCAPI.cpp
  runtime/lib/backend/oqd/CMakeLists.txt
  runtime/lib/backend/oqd/OQDDevice.cpp
  runtime/lib/backend/oqd/OQDDevice.hpp
  runtime/lib/capi/ExecutionContext.hpp
  runtime/tests/CMakeLists.txt
  runtime/tests/Test_OQDDevice.cpp
Labels: reviewer:require-wheels, author:build-wheels, OQD

#1526 add new key to check-catalyst action
  .github/workflows/check-catalyst.yaml
  .github/workflows/check-pl-compat.yaml
Labels: CI

#1521 Capture "while_loop" workflow
  doc/releases/changelog-dev.md
  frontend/catalyst/from_plxpr.py
  frontend/test/pytest/test_capture_integration.py
Labels: frontend

#1537 Remove superfluous control tests
  frontend/test/pytest/test_quantum_control.py
Labels: housecleaning

#1545 Expose oqd pipeline into its own API function
  doc/releases/changelog-dev.md
  frontend/catalyst/third_party/oqd/__init__.py
  frontend/catalyst/third_party/oqd/oqd_device.py
  frontend/test/test_oqd/oqd/test_openapl_generation.py
Labels: OQD
