Repository PennyLaneAI/catalyst, pull requests merged in 2025-04, with the labels that each got.

#1589 Audit Compiler build infrastructure (part 1)
  frontend/catalyst/__init__.py
  mlir/CMakeLists.txt
  mlir/Makefile
  mlir/include/Ion/Transforms/oqd_database_types.hpp
  mlir/lib/CAPI/CMakeLists.txt
  mlir/lib/Catalyst/Transforms/CMakeLists.txt
  mlir/lib/Driver/CMakeLists.txt
  mlir/lib/Driver/CompilerDriver.cpp
  mlir/lib/Ion/Transforms/CMakeLists.txt
  mlir/lib/Ion/Transforms/quantum_to_ion.cpp
  mlir/lib/QEC/Utils/CMakeLists.txt
  mlir/lib/QEC/Utils/PauliStringWrapper.cpp
  mlir/lib/Quantum/Transforms/ConversionPatterns.cpp
  mlir/lib/Quantum/Transforms/LoopBoundaryOptimizationPatterns.cpp
  mlir/lib/Quantum/Transforms/PropagateSimpleStatesAnalysis.hpp
  mlir/python/CMakeLists.txt
  mlir/python/dialects/catalyst.py
  mlir/python/dialects/gradient.py
  mlir/python/dialects/mitigation.py
  mlir/python/dialects/quantum.py
  mlir/tools/catalyst-cli/CMakeLists.txt
  mlir/tools/quantum-opt/CMakeLists.txt
Labels: compiler, reviewer:require-wheels, author:build-wheels, housecleaning

#1601 Before checking, flatten pytrees inside loops when autograph is enabled
  doc/releases/changelog-0.11.0.md
  frontend/catalyst/autograph/ag_primitives.py
  frontend/test/pytest/test_autograph.py
Labels: bug

#1665 Fix AutoGraph fallback for certain iteration targets
  benchmark/catalyst_benchmark/measurements.py
  doc/releases/changelog-dev.md
  frontend/catalyst/autograph/ag_primitives.py
  frontend/catalyst/from_plxpr.py
  frontend/catalyst/utils/jnp_to_memref.py
  frontend/test/pytest/test_autograph.py
  pyproject.toml
Labels: bug, frontend

#1657 Remove "experimental_capture" kwarg from "qjit"
  doc/releases/changelog-dev.md
  frontend/catalyst/from_plxpr.py
  frontend/catalyst/jit.py
  frontend/catalyst/pipelines.py
  frontend/test/pytest/test_capture_integration.py
Labels: frontend, plxpr

#1634 Fix measurement handling in JAX tracer and device decomposition
  frontend/catalyst/device/decomposition.py
  frontend/catalyst/device/qjit_device.py
  frontend/catalyst/jax_tracer.py
  frontend/test/pytest/test_transform.py
Labels: bug, frontend

#1689 Enable oqd pytests in PR CI
  .github/workflows/check-catalyst.yaml
  frontend/test/test_oqd/oqd/test_openapl_generation.py
Labels: OQD

#1698 Exit with success on skipped braket device pytests
  .github/workflows/build-wheel-linux-arm64.yaml
  .github/workflows/build-wheel-linux-x86_64.yaml
  .github/workflows/build-wheel-macos-arm64.yaml
  .github/workflows/build-wheel-macos-x86_64.yaml
Labels: reviewer:require-wheels, author:build-wheels
